body {
  cursor: crosshair;
  user-select: none; /* Copy and paste banned */
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../public/image1.jpg');  /* Important! Use relative path. Do not use absolute('/image1.jpg') */
  background-size: cover;
  background-position: center;
}

button {
  cursor: pointer; /* Change the cursor style */
}


