body {
  cursor: crosshair;
  user-select: none; /* 禁用复制粘贴 */
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../public/image1.jpg');
  background-size: cover;
  background-position: center;
}

button {
  cursor: pointer; /* 鼠标悬停在按钮上时显示小手形状 */
}


